@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
h4 {
  text-align: center;
  padding-top: 24rem;
  padding-left: 7px;
  padding-right: 7px;
  /* padding-bottom: 20rem; */
}
h5 {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
}
#isi-pesan {
  padding-bottom: 25rem;
}
#coba-scroll {
  padding-bottom: 30rem;
}
#inti-pesan {
  padding-bottom: 25rem;
}
#fakta {
  padding-top: 10rem;
  padding-bottom: 25rem;
}
